body {
  background-color: rgb(67, 202, 177);
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;

  font-style: normal;
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 45px 0 auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}
